html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(
    to bottom right,
    #f0f5f9,
    #d9e3e5
  ); /* Soft background */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff; /* White paper background */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1 {
  color: #5d4b8d;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
}
